@inherits LayoutComponentBase

<div class="page">
    <!--div class="sidebar">
        <NavMenu/>
    </!-->
    <PageTitle>Diet Penguin</PageTitle>
    <Container>
        <Row>
            <Column ColumnSize="ColumnSize.Is12">
                <h2>Diet Penguin</h2>            
            </Column>
            <br />
        </Row>
        <Row>
            <main>
                            <article class="content px-4">
                                @Body
                            </article>
            </main>
        </Row>
    </Container>
</div>