@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<RangeDisplay RecommendedStart="100"
              RecommendedEnd="120"
              CurrentValue="50"/>
<RangeDisplay RecommendedStart="100"
              RecommendedEnd="120"
              CurrentValue="110"/>
<RangeDisplay RecommendedStart="100"
              RecommendedEnd="120"
              CurrentValue="250"/>